{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#frmRegister').validate({
            rules: {
                username: {
                    required: true,
                       remote:{
                           url: '/account/is-available'
                    // tìm trong csdl có trùng tên ko
                      }
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirm: {
                    required: true,
                    equalTo: $('[name="password"]')
                },
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                }
            },
            message: {
                username: {
                    required: 'Your username is required.',
                    remote: 'Your username has been taken, please take another.'
                },
                password: {
                    required: 'Your password is required.',
                    minlength: 'Your password must have at least 6 characters.'
                },
                confirm: {
                    required: 'Your password is required.',
                    equalTo: 'Your password does not match.'
                },
                name: {
                    required: 'Valid full name is required.',
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.'
                }
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            validClass: 'is-valid',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        })
    })
</script>
{{/section }}

<form class="modal-content" id="frmRegister" method="POST">
    

    <div class="container-account">
        <h4 class="card-header">Register</h4>
        <img src="/images/Account.png" class="avatar">
        <input type="text" placeholder="Tài khoản" class="form-control" id="txtUsername" name="username">
        <input type="password" placeholder="Mật khẩu" class="form-control" id="txtPassword" name="password">
        <input type="password" placeholder="Nhập lại mật khẩu" class="form-control" id="txtConfirm" name="confirm">
        <input type="text" placeholder="Tên hiển thị" class="form-control" id="txtName" name="name">
        <input type="email" placeholder="Email" class="form-control" id="txtEmail" name="email">

        <label>
            <input type="checkbox" checked="ckecked" name="remember" required>Đồng ý với<a href=""> điều
                khoản</a>
        </label>
        <button type="submit" class="btn btn-lg btn-success btn-block">
            <i class="fa fa-check" aria-hidden="true"></i>
            Register
        </button>
    </div>

</form>
</div>