<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylehighlight.css">
    <script src="/js/Category.js"></script>
    <link rel="icon" href="data:,">


    <title>Báo Điện Tử TH16-News</title>

</head>
<body>
 <header>
    <img style="width: 100%;" src="/images/1.jpg" alt="photo">

</header>
    {{{body}}}

 <footer class="ts-footer">
    <div class="p-3 mb-2 bg-primary text-white">
        <div class="col">
            <img src="./resources/images/logoduoi.png">
            <div class="text-light">Giấy phép Báo điện tử số: 2302/GP-BTTTT, cấp ngày 29/11/2012</div>
        </div>

        <div class="col text-light">
            Tổng biên tập: Nguyễn Hoàng Lưu.
            <br>
            Thư ký tòa soạn: Hồng Văn; Phó thư ký tòa soạn: Yến Dung.
            <br>
            Tòa soạn: Số 35 Nam Kỳ Khởi Nghĩa, Quận 1, Thành phố Hồ Chí Minh.
            <br>
            Điện thoại: (8428) 3829 5936; Fax: (8428) 3829 4294; Email: online@kinhtesaigon.vn
            <br>
            Thời báo Kinh tế Sài Gòn giữ bản quyền nội dung của trang web www.thesaigontimes.vn. Không được sử
            dụng
            lại nội
            dung trên Thời báo Kinh tế Sài Gòn Online dưới mọi hình thức, trừ khi được Thời báo Kinh tế Sài Gòn
            đồng
            ý bằng
            văn bản.
            <br>
            Trang ngoài sẽ được mở ra ở cửa sổ mới. Thời báo Kinh tế Sài Gòn Online không chịu trách nhiệm nội
            dung
            trang
            ngoài.
            <br>
            Bản quyền thuộc về SaigonTimesGroup.
        </div>
    </div>
</footer>
</body>
{{{_sections.js}}}
</html>