*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

  /*======================*/




/*===========MENU=========== */
a.active {
    background-color: #4CAF50;
    color: white;
  }

.Menu {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
}
.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Style the search box inside the navigation bar */
.navbar > input[type=text] {

    width: 50%;
} 
input[type=text] {
    width: 100%;
    padding: 6px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    
    font-size: 15px;
  }



  .clearfix::after{
    content: "";
    display: table;
    clear: both;
}

  /*======================*/
  

  /*============CONTENT3========*/
  /*  sections  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  column setup  */
.col {
	display: block;
	float:left;
    margin: 1% 0 1% 1.6%;
    border: 1px solid rgba(17, 7, 7, 0.8);
    border-radius: 6px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
  /*======================*/