body{
  font-size: .875rem;
}
div.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    margin-top: 2%;
    padding: 0px;
    
  }
  @media (min-width: 576px) {
  .container {
    max-width: 99%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 99%;
  }
}
  @media (min-width: 992x) {
    .container {
      max-width: 99%;
    }
  }
  div.column-left {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
    border: solid 1px black;
  }

  
  
  div.column-right {
    width:84%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 15px;
    padding-left: 2%;
    
}

form.addpost {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 15px;
  padding-left: 2%;
  
}

.column-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 2%;
}

.info-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
} 

.info-user > .info-left {
  width: 45%;
}

.info-user > .info-right {
  width: 45%;
}

.info-left {
  width: 100%;
}

.info-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-right > .avatar {
  max-width: 55%;
  margin-bottom: 10px;
}

.info-right > input[type=button] {
  width: 20%;
}

.boxinfo-line {
  display: flex;
  font-size: 14px;
  width: 400px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.boxinfo-line > label {
  width: 20%;
}
.boxinfo-line > input {
  width: 50%;
}
.boxinfo-line > input[type=button] {
  width: 25%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  font-weight: normal;
}
th {
  text-align: left;
  font-weight: bold;
}

.column-1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 2%;
}
.column-2 {
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 1%;
  padding-top: 3%;
  width: 30%;
  background: #F8F9FA;
  border-block-end-color: #333;
}
  /*==============*/


  body {
    font-size: .875rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #e0eaeb;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    color: #333;
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  
  /*========= Properties=======*/
  .form-properties {
    font-weight: 500;
    font-size: 17px;
    padding: 1%;
    background: rgb(229, 229, 230);
    border: solid rgb(212, 212, 212) 1px;
    margin-bottom: 20px;
  }
  .form-check,.form-horizontal {
    font-weight: 200;
    font-size: 15px;

  }
  [type="submit"] {

      position: relative;
      display: block;
      width: 200px;
      height: 36px;
      
      background-color: rgb(125, 126, 128);
      border: solid 1px transparent;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
      transition: all .1s ease-in-out;
      width: 30%;
     
}
button[type="submit"]:hover {
  background-color: rgb(63, 62, 62);
  border-color: rgb(151, 151, 151);
  transition: all .1s ease-in-out;

}

.container-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 0 200px;
}


.container-account > label {
  width: 100%;
  font-size: 16px;
}


/* Full-width input fields */
.container-account > input[type=text], .container-account > input[type=password] {
  width: 100%;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin: 3px 0; 
}

.container-account > button {
  background: rgb(25, 73, 206);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container-account > span.psw {
  width: 60%;
  font-size: 15px;
}



  /* The Modal (background) */
  .modal-account {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 15px;
  }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5px auto; /* 15% from the top and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      display: flex;
      flex-direction: column;
    }
    
    .closecontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }

    .close {
      /* Position it in the top right corner outside of the modal */
      position: absolute;
      right: 25px;
      top: 0; 
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    

    .container-account-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
    }
    

/* Subcriber */
.box-package-vip, .box-package-payment {
  width: 100%;
  float: left;
  padding: 56px 0 0 0;
}

.title-vip-page-common {
  width: 100%;
  float: left;
  color: #000000;
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.4;
  margin: 46px 0 24px 0;
}

.group-choice-radio-package.tmargin {
  margin: 0 50px 32px 0;
}

.group-choice-radio-package {
  width: 460px;
  height: 90px;
  background: #ccd0d5;
  background: -moz-linear-gradient(left, #ccd0d5 0%, #e9ecee 100%);
  background: -webkit-linear-gradient(left, #ccd0d5 0%,#e9ecee 100%);
  background: linear-gradient(to right, #ccd0d5 0%,#e9ecee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd0d5', endColorstr='#e9ecee',GradientType=1 );
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;
  float: left;
  cursor: pointer;
  margin: 0 0 32px 0;
}

.group-choice-radio-package input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

 button, select, option {
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;
}


.group-choice-radio-package input:checked ~ .group-choice-radio-package-bg {
  background: #f2af12;
  background: -moz-linear-gradient(left, #f2af12 0%, #ffd200 100%);
  background: -webkit-linear-gradient(left, #f2af12 0%,#ffd200 100%);
  background: linear-gradient(to right, #f2af12 0%,#ffd200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2af12', endColorstr='#ffd200',GradientType=1 );
  box-shadow: 0 8px 16px rgba(255,196,14,0.4);
  -webkit-box-shadow: 0 8px 16px rgba(255,196,14,0.4);
  -moz-box-shadow: 0 8px 16px rgba(255,196,14,0.4);
  -ms-box-shadow: 0 8px 16px rgba(255,196,14,0.4);
  -o-box-shadow: 0 8px 16px rgba(255,196,14,0.4);
}


.group-choice-radio-package .group-choice-radio-package-bg {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 8px 30px -8px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 8px 30px -8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 8px 30px -8px rgba(0,0,0,0.3);
  -ms-box-shadow: 0 8px 30px -8px rgba(0,0,0,0.3);
  -o-box-shadow: 0 8px 30px -8px rgba(0,0,0,0.3);
}

.group-choice-radio-package .group-choice-radio-package-bg:after {
  content: '';
  width: 180px;
  height: 90px;
  display: block;
  background: url(../images/bg-deco.png) top center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}


.group-choice-radio-package .circle-big-out {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 25px;
    right: 28px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 3;
}

.group-choice-radio-package .vip-package-name {
  width: auto;
  font-size: 16px;
  color: #000000;
  line-height: 1.4;
  position: absolute;
  top: 15px;
  left: 32px;
  z-index: 3;
}

.group-choice-radio-package .vip-package-price {
  width: auto;
  font-size: 24px;
  color: #000000;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 42px;
  left: 32px;
  z-index: 3;
}

.group-choice-radio-package .line {
  width: 0%;
  left: 200px;
  opacity: 0;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
}
.group-choice-radio-package input:checked ~ .ic-checked {
  transform-origin: center center;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
}
.group-choice-radio-package .ic-checked {
  display: block;
  width: 20px;
  height: 30px;
  background: url(../images/ic_checked.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  right: 37px;
  top: 31px;
  transform-origin: center center;
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  opacity: 0;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  z-index: 4;
}
 /*//////---- Subcriber------- */